#root {
  background-color: #023020;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0%;
}

.articleCard:hover {
  background-color: white;
  color: #023020;
}

.header {
  color: white;
  text-align: center;
  padding: 4px;
  background-color: #668f80;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #023020;
}

/* p {
  color: white;
} */

.articleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.articleCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  max-width: 90%;
  max-height: 90%;
  align-self: center;
  justify-self: center;
  padding: 1rem 0;
  text-align: center;
}

.published {
  font-size: x-small;
}

img {
  max-width: 95%;
  background-color: #424242;
}

.title {
  padding: 2%;
  color: white;
  font-weight: bold;
  border-bottom: 0.2rem solid #668f80;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.sortBy {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5%;
}
.order {
  display: flex;
  justify-content: flex-start;
}

.author {
  display: flex;
  justify-content: flex-start;
}

.navBar {
  display: flex;
  justify-content: space-around;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  font-weight: bold;
}

.commentsContainer {
  border: 2px solid #424242;
}

.individualComment {
  border: 2px solid #424242;
}

.commentForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.commentInput {
  margin: 1%;
  height: 4rem;
  width: 70%;
}

.commentLabel {
  font-size: 1.3rem;
  text-align: center;
  width: 15%;
}

.commentBtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1%;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  height: 4rem;
  width: 5rem;
}

.deleteBtn {
  background-color: red;
  border: none;
  color: white;
  padding: 1%;
}

.deleteBtn:disabled {
  background-color: grey;
}

.articleView {
  color: white;
}

.individualComment {
  color: white;
}
.commentLabel {
  color: white;
}

@media (max-width: 900px) {
  .articleContainer {
    grid-template-columns: 1fr 1fr;
  }
  .articleCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    max-width: 90%;
    max-height: 90%;
    align-self: center;
    justify-self: center;
    padding: 1rem 0;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .articleContainer {
    grid-template-columns: 1fr;
  }
  .articleCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    max-width: 90%;
    max-height: 90%;
    align-self: center;
    justify-self: center;
    padding: 1rem 0;
    text-align: center;
  }
}
