#root {
  background-color: #1d2228;
}

.header {
  color: #fb8122;
  text-align: center;
  padding: 4px;
  background-color: #424242;
}

a {
  color: #e1e2e2;
  text-decoration: none;
}

.articleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.articleCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fb8122;
  margin: 1rem;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  align-self: center;
  justify-self: center;
  padding: 1rem 0;
  text-align: center;
  background-color: #424242;
}

img {
  max-width: 95%;
  background-color: #424242;
}

@media (max-width: 800px) {
  .articleContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .articleCard {
    display: flex;
    flex-wrap: wrap;
  }

}
